# General
OPENAI_API_KEY = ""
EMBEDDING_MODEL = "BAAI/bge-large-en-v1.5"


# Patient
STEPS_TO_REFLECTION = 6
TOKENS_TO_TRIGGER_SUMMARY = 500
TOP_RELEVANT_MEMORIES_TO_FETCH = 5


# Patient Maker
PATIENT_MAKER_MODEL = "gpt-4-1106-preview"

NEW_PATIENT_MODEL = "gpt-4-1106-preview"
NEW_PATIENT_MODEL_CONTEXT_WINDOW = 4097
NEW_PATIENT_MODEL_COMPLETION_TOKENS = 500
NEW_PATIENT_MODEL_MESSAGE_PAD_TOKENS = 3

NUMBER_OF_MEMORIES_FOR_NEW_PATIENT = 50


# Logging
LOG_FILE_PATH = "/tmp/ai-patient.log"
FILE_LOGGING_LEVEL = 10
CONSOLE_LOGGING_LEVEL = 20
